extends ./detail_base

block column_one
  .row.text-center
    h1= message.attributes.name
    if message.attributes.abv > 0
      h3= "A " + message.attributes.type + " with " + message.attributes.abv + "% alcohol by volume."
    else
      h3= "A non-alcoholic " + message.attributes.type + "."
    .ingredient_drawing(style="background-color: \##{message.attributes.color};")

block column_two
  if message.attributes.information
    h2 Information
    p#info= message.attributes.information
    script $("#info")[0].innerHTML = marked($("#info")[0].innerHTML);

  if message.attributes.brands.length > 0
    h2 Recommended Brands
    p
      each brand in message.attributes.brands
        span(class="ingredient")= brand.attributes.name + " · "
        span(class="details")= "$" + brand.attributes.price
        br

  h2= "Recipes using " + message.attributes.name
  p
    each ingredient in message.attributes.ingredients
      a(class="ingredient", href="/recipe/#{message.attributes.recipes[ingredient.attributes.recipe]}")= ingredient.attributes.recipe
      if ingredient.attributes.amount && ingredient.attributes.label
        &nbsp;·&nbsp;
        span(class="details")= ingredient.attributes.label
        &nbsp;·&nbsp;
        span(class="details")= ingredient.attributes.amount + " cl"
      else if ingredient.attributes.amount
        &nbsp;·&nbsp;
        span(class="details")= ingredient.attributes.amount + " cl"
      else if ingredient.attributes.label
        &nbsp;·&nbsp;
        span(class="details")= ingredient.attributes.label
      br