extends ./base

block content
  h1= message.attributes.name
  h3= "A " + message.attributes.type + " with " + message.attributes.abv + "% alcohol by volume."

  hr

  if message.attributes.information
    span(class="label") Information
    .information= message.attributes.information
    script $(".information")[0].innerHTML = marked($(".information")[0].innerHTML);

  if message.attributes.brands.length > 0
    span(class="label") Recommended Brands
    .ingredients
      each brand in message.attributes.brands
        span(class="ingredient")= brand.attributes.name + " · "
        span(class="details")= "$" + brand.attributes.price
        br

  span(class="label")= "Recipes using " + message.attributes.name
  .ingredients
    each ingredient in message.attributes.ingredients
      a(class="ingredient", href="/recipe/" + ingredient.attributes.recipe)= ingredient.attributes.recipe
      &nbsp;·&nbsp;
      if ingredient.attributes.amount && ingredient.attributes.label
        span(class="details")= ingredient.attributes.label
        &nbsp;·&nbsp;
        span(class="details")= ingredient.attributes.amount + " cl"
      else if ingredient.attributes.amount
        span(class="details")= ingredient.attributes.amount + " cl"
      else if ingredient.attributes.label
        span(class="details")= ingredient.attributes.label
      br