extends ./detail_base

block column_one
  .row.text-center
    h1= message.attributes.name
    if message.attributes.abv > 0
      h3= "A " + message.attributes.type + " with " + message.attributes.abv + "% alcohol by volume."
    else
      h3= "A non-alcoholic " + message.attributes.type + "."
    div(style="width: 200px; border-radius: 50%; height: 200px; background-color: \##{message.attributes.color}; margin: auto; margin-top: 2em")

block column_two
  if message.attributes.information
    span(class="label") Information
    .information= message.attributes.information
    script $(".information")[0].innerHTML = marked($(".information")[0].innerHTML);

  if message.attributes.brands.length > 0
    span(class="label") Recommended Brands
    .ingredients
      each brand in message.attributes.brands
        span(class="ingredient")= brand.attributes.name + " · "
        span(class="details")= "$" + brand.attributes.price
        br

  span(class="label")= "Recipes using " + message.attributes.name
  .ingredients
    each ingredient in message.attributes.ingredients
      a(class="ingredient", href="/recipe/" + ingredient.attributes.recipe)= ingredient.attributes.recipe
      if ingredient.attributes.amount && ingredient.attributes.label
        &nbsp;·&nbsp;
        span(class="details")= ingredient.attributes.label
        &nbsp;·&nbsp;
        span(class="details")= ingredient.attributes.amount + " cl"
      else if ingredient.attributes.amount
        &nbsp;·&nbsp;
        span(class="details")= ingredient.attributes.amount + " cl"
      else if ingredient.attributes.label
        &nbsp;·&nbsp;
        span(class="details")= ingredient.attributes.label
      br