<!DOCTYPE html>
<html>
  <head>

    <meta name=viewport content="width=device-width, initial-scale=1">

    <title><%= message.attributes.name %></title>
    <link rel="stylesheet" href="/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/marked.js"></script>


    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>
    <div id="fb-root"></div>

    <!-- For Facebook. -->
    <script>
          (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=389867964446737&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <p class="header">
      Brought to you by
      <a href="https://itunes.apple.com/us/app/barback-classic-modern-cocktails/id829469529?mt=8">Barback: Classic and Modern Cocktails</a>
    </p>

    <div class="main">
      <h1><%= message.attributes.name %></h1>
      <h3>Served in <%= message.attributes.glassware %>.</h3>
      <h3>Garnish with <%= message.attributes.garnish %>.</h3>

      <hr>

      <span class="label">Ingredients</span>
      <p class="ingredients">
      <% for(var i=0; i<message.attributes.ingredients.length; i++) {%>
          <span class="ingredient"><%= message.attributes.ingredients[i].attributes.base %> ·
          </span>   
          <span class="details">
              <%if (message.attributes.ingredients[i].attributes.amount) { %>
                <%= message.attributes.ingredients[i].attributes.amount %> cl
              <% } %>
              <%if (message.attributes.ingredients[i].attributes.label) { %>            
                <%if (message.attributes.ingredients[i].attributes.amount) { %>
                  ·
                <% } %>
                <%= message.attributes.ingredients[i].attributes.label %>
              <% } %>
            </span>
            <br />
      <% } %>
      </p>

      <span class="label">Directions</span>
      <p class="directions"><%= message.attributes.directions %></p>
      

      <%if (message.attributes.information) { %>            
        <span class="label">Information</span>
        <p class="information"><%= message.attributes.information %></p>
        <script>
          $(".information")[0].innerHTML = marked($(".information")[0].innerHTML);
        </script>
      <% } %>

      <span class="label">Share</span>
      <div class="directions">
        <!-- Facebook button. -->
        <div class="fb-share-button" data-href="http://www.getbarback.com/recipe/<%= message.attributes.name %>" data-layout="box_count"></div>

        <!-- Twitter button. -->
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="justinmduke" data-size="small" data-count="vertical">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

        <!-- Place this tag where you want the +1 button to render. -->
        <div class="g-plusone" data-size="tall"></div>
      </div>

    </div>

    <p class="footer">This recipe is brought to you by <a href="http://getbarback.com">Barback</a>, a pretty cool cocktail app that you should totally buy. Barback is made with love by Justin Duke in  rainy Seattle.</p>
  </body>
</html>