extends ./detail_base

block head
  meta(name="apple-itunes-app", content="app-id=829469529, app-argument=barback://recipe/"+message.attributes.name)

block column_one
  .row.text-center
    h1= message.attributes.name
    h3= message.attributes.abv + "% ABV"
    h3= "Served in " + message.attributes.glassware
    if message.attributes.garnish
      h3= "Garnish with " + message.attributes.garnish

  #drawing.text-center

block column_two
  span(class="label") Ingredients
  p(class="ingredients")
    each ingredient in message.attributes.ingredients
      if message.attributes.bases.indexOf(ingredient.attributes.base) >= 0
        a(class="ingredient", href="/ingredient/" + ingredient.attributes.base)= ingredient.attributes.base
      else
        span(class="ingredient")= ingredient.attributes.base
      if ingredient.attributes.amount && ingredient.attributes.label
        &nbsp;路&nbsp;
        span(class="details")= ingredient.attributes.label
        &nbsp;路&nbsp;
        span(class="details")= ingredient.attributes.amount + " cl"
      else if ingredient.attributes.amount
        &nbsp;路&nbsp;
        span(class="details")= ingredient.attributes.amount + " cl"
      else if ingredient.attributes.label
        &nbsp;路&nbsp;
        span(class="details")= ingredient.attributes.label
      br

  span(class="label") Directions
  p(class="directions")= message.attributes.directions

  if message.attributes.information
    span(class="label") Information
    p(class="information")= message.attributes.information
    script $(".information")[0].innerHTML = marked($(".information")[0].innerHTML);

  script.
    drawRecipe("#{message.attributes.glassware}", !{JSON.stringify(message.attributes.visualData)}, "drawing")