extends ./detail_base

block head
  meta(name="apple-itunes-app", content="app-id=829469529, app-argument=barback://recipe/"+message.attributes.name)
  meta(name="twitter:card", content="app")
  meta(name="twitter:site", content="@GetBarback")
  meta(name="twitter:description", content="For connoisseurs and novices alike, filled to the brim with modern and classic cocktails — Barback..")
  meta(name="twitter:app:country", content="US")
  meta(name="twitter:app:name:iphone", content="Barback")
  meta(name="twitter:app:id:iphone", content="829469529")
  meta(name="twitter:app:url:iphone", content="barback://recipe/"+message.attributes.name)

block column_one
  .row.text-center
    h1= message.attributes.name
    h3= message.attributes.abv + "% ABV"
    h3= "Served in " + message.attributes.glassware
    if message.attributes.garnish
      h3= "Garnish with " + message.attributes.garnish

  #drawing.text-center

block column_two
  h2 Ingredients
  p
    each ingredient in message.attributes.ingredients
      a(class="ingredient", href="/ingredient/#{ingredient.attributes.base.attributes.slug}")= ingredient.attributes.base.attributes.name
      if ingredient.attributes.amount && ingredient.attributes.label
        &nbsp;·&nbsp;
        span(class="details")= ingredient.attributes.label
        &nbsp;·&nbsp;
        span(class="details")= ingredient.attributes.amount + " cl"
      else if ingredient.attributes.amount
        &nbsp;·&nbsp;
        span(class="details")= ingredient.attributes.amount + " cl"
      else if ingredient.attributes.label
        &nbsp;·&nbsp;
        span(class="details")= ingredient.attributes.label
      br

  h2 Directions
  p= message.attributes.directions

  if message.attributes.information
    h2 Information
    p#info= message.attributes.information
    script $("#info")[0].innerHTML = marked($("#info")[0].innerHTML);

  script.
    drawRecipe("#{message.attributes.glassware}", !{JSON.stringify(message.attributes.visualData)}, "drawing")