extends ./detail_base

block head
  meta(name="apple-itunes-app", content="app-id=829469529, app-argument=barback://recipe/"+message.attributes.name)

block column_one
  .row.text-center
    h1= message.attributes.name
    h3= message.attributes.abv + "% ABV"
    h3= "Served in " + message.attributes.glassware
    if message.attributes.garnish
      h3= "Garnish with " + message.attributes.garnish

  #drawing.text-center

block column_two
  h2 Ingredients
  p
    each ingredient in message.attributes.ingredients
      if message.attributes.baseNames.indexOf(ingredient.attributes.base) >= 0
        a(class="ingredient", href="/ingredient/#{message.attributes.bases[ingredient.attributes.base]}")= ingredient.attributes.base
      else
        span(class="ingredient")= ingredient.attributes.base
      if ingredient.attributes.amount && ingredient.attributes.label
        &nbsp;路&nbsp;
        span(class="details")= ingredient.attributes.label
        &nbsp;路&nbsp;
        span(class="details")= ingredient.attributes.amount + " cl"
      else if ingredient.attributes.amount
        &nbsp;路&nbsp;
        span(class="details")= ingredient.attributes.amount + " cl"
      else if ingredient.attributes.label
        &nbsp;路&nbsp;
        span(class="details")= ingredient.attributes.label
      br

  h2 Directions
  p= message.attributes.directions

  if message.attributes.information
    h2 Information
    p#info= message.attributes.information
    script $("#info")[0].innerHTML = marked($("#info")[0].innerHTML);

  script.
    drawRecipe("#{message.attributes.glassware}", !{JSON.stringify(message.attributes.visualData)}, "drawing")